html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position:fixed;
  }
  main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:  rgb(214, 214, 214);
    width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 3px
  }
   button{
    background-color: rgb(2, 97, 221);
    height: 50px;
    width: auto;
    padding: 0 40px;
    color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 20px;
    border:none!important;
    cursor: pointer;
  }
  li {
    height: 48px;
    width: auto;
    padding: 17px 17px 0px 17px;
    color: rgb(4, 0, 248);
    border-radius: 4px;
    font-size: 20px;
    border:none!important;
  }
  #description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 228, 228);
}
#soma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 198, 221);
}